<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
    <title>Document</title>
</head>
<body>

    {{> navbar}}
    {{!-- <h1>Hello from Saumya</h1> --}}


  <div class="reg">Registration</div>
    <form action="/register" method="POST" class="forms">
        <label for="firstname">First Name:    </label>
        <input type="text" id="firstname" name="firstname" required style="width:51%"><br>

        <label for="lastname">Last Name:    </label>
        <input type="text" id="lastname" name="lastname" required style="width:52%"><br>

        <label for="email">Email:     </label>
        <input type="email" id="email" name="email" required style="width:60%"><br>

        <label for="gender">Gender:     </label>
        <select id="gender" name="gender" required style="width:57%">
            <option value="">--Select--</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select><br>

        <label for="phone">Phone:     </label>
        <input type="tel" id="phone" name="phone" required style="width:57%"><br>

        <label for="age">Age:      </label>
        <input type="number" id="age" name="age" required style="width:62%"><br>

        <label for="password">Password:    </label>
        <input type="password" id="password" name="password" required style="width:54%"><br>

        <label for="confirmpassword">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirmpassword" required style="width:42%"><br>

        <button type="submit">Register</button>
    </form>

</body>
</html>
